.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

[class*="col-"] {
	width: 100%;
	float: left;
	min-height: 1px;
	padding: 30px;
}

.col-0-padding {
	padding: 0;
}

@media (max-width: 767px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media (min-width: 768px) { 
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	[class*="col-"] {
		padding: 10px;
	}

	.col-0-padding {
		padding: 0;
	}

}

@media (min-width: 768px) and (max-width: 992px) { 
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

.col-offset-0 {margin-left: 0%;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

/*
=========GRID2======
*/

[class*="col2-"] {
	float: left;
	min-height: 1px;
}

@media (max-width: 767px) { 
	.col2-s-1 {width: 20%;}
	.col2-s-2 {width: 40%;}
	.col2-s-3 {width: 60%;}
	.col2-s-4 {width: 80%;}
	.col2-s-5 {width: 100%;}
}

@media (min-width: 768px) { 
	.col2-m-1 {width: 20%;}
	.col2-m-2 {width: 40%;}
	.col2-m-3 {width: 60%;}
	.col2-m-4 {width: 80%;}
	.col2-m-5 {width: 100%;}
}

@media (max-width: 992px) {
    .main-menu a {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    header, nav {
        height: auto;
        text-align: center;
    }

    .main-menu,
    .logo {
        float: none;
    }

    .logo {
        margin-top: 0;
        line-height: 50px;
    }

    .main-menu > li {
        display: block;
    }
}

@media (max-width: 767px) {
    .hero {
        height: 100vh;
    }

    .slogan {
        margin-top: 20vh;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .gallery-box .layer {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
}

@media (max-width: 767px) {
    .company-description p {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
}

@media (max-width: 767px) {
    .birthday-img {
        display: none;
    }
}


@media (max-width: 1300px) {
    footer h3::after {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}

@media (max-width: 992px) {
    .contact-row .col-m-4 {
        text-align: right;
    }

    .contact-row .col-m-8 {
        text-align: left;
    }

}